
/*no ressource local les ressources externe references fichier css-amazimg.css-*/

img{ border:solid red;
    border-width: 1px;}
h1 {
    background-color: black;
}
h1,h2{
    color: gray;
}
.s h2 {
    border: 1px solid green;
}
#mon > span {
    color: hotpink;
}
#mon div {
    border: 1px solid red;
}
.m > div > span {
    background-color: yellow;
}
.w h2:hover{
    color: green;
}
.m h2:hover,#tue h2:hover{
    color: red;
}
h1,h2{
    color: hotpink;
}
/* la derniere regle s'applique*/
/*si on change l'ordre des regles les couleur de h1 et h2 serent changer*/
li:first-of-type{
    font-weight: bold;
}
li:first-of-type{
    color: red;
}
li:nth-of-type(9){
    color: blue;
}
li:nth-of-type(5n+3){
    color: green;
}